<template>
	<style>
		td {
			padding: 5px;
			border: 1px solid black;
		}
		
		th {
			padding: 5px;
			border: 1px solid black;
			text-align: center
		}
		
		.legend-item {
			border: 2px solid black;
			height: 20px;
			margin-right: 15px;
		}
	</style>
	<div style="width:80%; margin: 0 auto;">
		<h2 style="color:red">Open Cut Mine Operations:</h2>
		<hr style="height:5px" />
		<div class=row>
			<div class="col-xs-8" style="vertical-align:top">
				<h2>Domain 1: Infrastructure</h2>
			</div>
			<div class="col-xs-2" style="font-weight:bold">
				<div>Overall Operation Total:</div>
				<div>Domain Total:</div>
			</div>
			<div class="col-xs-2" style="font-weight:bold; color:red">
				<div>Total 1</div>
				<div>Total 2</div>
			</div>
		</div>
		<div>
			<div class="row">
				<div class="col-xs-5">
					<div>
						Additional Assumptions: <em>Record any relevant assumptions to this domain below:</em>
					</div>
					<textarea style="width:100%;height:150px"></textarea>

				</div>
				<div class="col-xs-4"></div>
				<div class="col-xs-3">
					<div style="font-weight:bold">
						Legend:
					</div>
					<div>
						<div class="col-xs-2 legend-item" style="background:lightblue;"></div>Alternate rate has been used
					</div>
					<!--<div>
						<div class="col-xs-2 legend-item" style="background:lightyellow;">Input from site optional (if information available)
						</div>
						<div>
							<div class="col-xs-2 legend-item" style="background:lightgreen;">Input mandatory (where applicable) Default
							</div>
							<div>
								<div class="col-xs-2 legend-item" style="background:lightpink;">Rate where an alternative is not provider
								</div>
							</div>
						</div>-->
				</div>
				<table style=" border:1px solid black; margin-top:20px">
					<tr style="height:50px; background:black;color:white">
						<th>Management Precinct</th>
						<th>Activity / Description</th>
						<th>Applicable (Y or N)</th>
						<th>Quantity</th>
						<th>Unit</th>
						<th>Default Unit Rate</th>
						<th>Alternative Unit Rate</th>
						<th>Total Cost</th>
						<th>Basis for Costs Estimation and Additional Relevant Information</th>
						<th>Description / Notes:</th>
					</tr>
					<template repeat.for="category of values.categories">
						<tr>
							<th rowspan="${category.items.length + 1}">${category.name}</th>
						</tr>
						<tr repeat.for="item of category.items">
							<td>${item.description}</td>
							<td style="text-align:center">Y</td>
							<td></td>
							<td style="text-align:center; background:lightgreen">${item.unit}</td>
							<td style="text-align:center;">$${item.rate}</td>
							<td style="background:lightpink"></td>
							<td style="background:lightyellow"></td>
							<td></td>
							<td>${item.information}</td>
						</tr>


						<tr style="background:lightgray">
							<td style="text-align:right" colspan="7">Subtotal</td>
							<td colspan="3">Value</td>
						</tr>
					</template>
					<tr style="background:lightgreen; font-weight:bold">
						<td colspan="7" style="text-align:center">Total Rehabilitation Costs for Domain</td>
						<td colspan="3" style="text-align:center"> Value</td>
					</tr>


				</table>
			</div>
</template>