<template>
  <require from="./rainfall-chart"></require>
  <require from="./temperature-chart"></require>
  <require from="./test-bind"></require>
  <require from="../number-format"></require>
  <style>
    .symbol {}

    .subscript {
      font-style: italic;
      font-size: 8pt;
    }

    .unit {
      font-style: italic;
      font-size: 8pt;
      color: gray
    }

    .fixed-value {
      background: #B4C6E7
    }

    .value {
      /*height: 25px;*/
    }

    .var-value {
      font-style: italic;
      background: rgb(240, 240, 240);
      /*position: absolute;*/
      /*bottom: 0;*/
      /*padding-left:15px*/
    }

    .par-row {
      vertical-align: bottom;
      margin-bottom: 5px;
      height: 35px;
      /*border: 1px black solid*/
    }

    .bold {
      font-weight: bold;
    }

    .big-gap {
      margin-top: 30px;
    }

    .display-table table,
    .display-table th,
    .display-table td {
      border: 1px solid black;
    }

    .display-table th,
    .display-table td {
      padding: 10px;
    }

  </style>
  <div class="" style="width:100%;margin:0 auto">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div id="accordion_inputs" class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a style="text-decoration:none;">Location</a>
              </h4>
            </div>
            <div class="panel in">
              <div class="panel-body">

                <!-- Lat long controls -->
                <div repeat.for="var of locationVars" class="row par-row">
                  <div class="col-xs-6" style="height:100%">
                    <table>
                      <tr>
                        <td>
                          <span class="symbol">${var.name}</span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="unit">(${var.units})</span>
                        </td>
                      </tr>
                    </table>
                  </div>

                  <div class="col-xs-5" style="height:100%; vertical-align:middle">
                    <input id="val" type="text" value.bind="var.value" class="form-control pull-left input value" style="text-align:right"></input>
                  </div>
                </div>
                <button style="margin-top:20px" type="button" click.delegate="fetchData()" class="btn btn-success pull-right">Fetch Data</button>
              </div>
            </div>
          </div>
          <div class="panel panel-default ${ !(dataLoaded) ? 'disabled hidden' : '' }">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a style="text-decoration:none;">Two month rainfall after gypsum application</a>
              </h4>
            </div>
            <div id="collapse_1" class="panel in">
              <div class="panel-body">
                <!-- IFD controls -->
                <div class="row">
                  <div class="col-xs-6" style="height:100%">
                    <span class="symbol">Gypsum application month</span>
                  </div>

                  <div class="col-xs-5" style="height:100%; vertical-align:middle">
                    <select class="form-control" value.bind="selectedMonth">
                      <option repeat.for="month of months" model.bind="month">
                        ${month.name}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="row" style="margin-top:10px">
                  <div class="col-xs-6" style="height:100%">
                    <span class="symbol">Gypsum application day</span>
                  </div>

                  <div class="col-xs-5" style="height:100%; vertical-align:middle">
                    <select class="form-control" value.bind="selectedDay">
                      <option repeat.for="day of selectedMonth.days" model.bind="day">
                        ${day}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="row" style="margin-top:10px">
                  <h5 style="padding-left:15px">Rainfall modelling conditions</h5>
                </div>
                <div class="row" style="text-align: center">
                  <div id="rainmethod" class="btn-group" data-toggle="buttons">
                    <label class="btn  btn-sm btn-success active" checked click.delegate="RFClicked(0)" style="margin-top:10px">
                      <input type="radio" name="options" id="AverageRB" autocomplete="off"> Average rainfall year
                    </label>
                    <label class="btn btn-sm btn-success" click.delegate="RFClicked(1)" style="margin-top:10px">
                      <input type="radio" name="options" id="Decile1RB" autocomplete="off"> Decile 1 rainfall year
                    </label>
                    <label class="btn btn-sm btn-success" click.delegate="RFClicked(2)" style="margin-top:10px">
                      <input type="radio" name="options" id="Decile9RB" autocomplete="off"> Decile 9 rainfall year
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default ${ !(dataLoaded) ? 'disabled hidden' : '' }">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a style="text-decoration:none;">Results</a>
              </h4>
            </div>
            <div id="" class="panel in">
              <div class="panel-body">
                <!-- IFD Results -->
                <h5>Annual rainfall</h5>
                <div class ="row" style="margin-left:15px">
                <div class="col-xs-6" style="height:100%">
                  <table>
                    <tr>
                      <td>
                        <span class="symbol">Total - ${yearRainfalls.title}</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <!-- <span class="unit">(mm)</span> -->
                      </td>
                    </tr>
                  </table>
                </div>

                <div class="col-xs-5" style="height:100%; vertical-align:middle">
                  <input id="val" type="text" readonly value.bind="yearRainfalls.summary | numberFormat:'0.00'" class="form-control pull-left input value"
                    style="text-align:right"></input>
                </div>
              </div>
                <h5>Cumulative 2 month rainfall following gypsum application</h5>
                <div class="row" style="margin-left:15px">
                  <div class="col-xs-6" style="height:100%">
                    <table>
                      <tr>
                        <td>
                          <span class="symbol">2 months - ${yearRainfalls.title}</span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <!-- <span class="unit">(mm)</span> -->
                        </td>
                      </tr>
                    </table>
                  </div>

                  <div class="col-xs-5" style="height:100%; vertical-align:middle">
                    <input id="val" type="text" readonly value.bind="rainfall2Month | numberFormat:'0.00'" class="form-control pull-left input value"
                      style="text-align:right"></input>
                  </div>
                </div>
                <h5>Rainfall IFD</h5>
                <div class="row" style="margin-left:15px">
                  <div class="col-xs-6" style="height:100%">
                    <table>
                      <tr>
                        <td>
                          <span class="symbol">Probability >50mm/hr</span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="unit"></span>
                        </td>
                      </tr>
                    </table>
                  </div>

                  <div class="col-xs-5" style="height:100%; vertical-align:middle">
                    <input id="val" type="text" readonly value.bind="IFDClass.class2" class="form-control pull-left input value" css="text-align:right;background:${IFDClass.color};colour:white"></input>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">

        <div>
          <rainfall-chart class="row ${ !(dataLoaded) ? 'disabled hidden' : '' }" style="height:250px" metdata.bind="metdata"></rainfall-chart>
          <!-- <test-bind met.bind="metdata"  tt.bind="test"></test-bind> -->
        </div>
        <div>
          <temperature-chart class="row ${ !(dataLoaded) ? 'disabled hidden' : '' }" style="height:250px" metdata.bind="metdata"></temperature-chart>
          <!-- <test-bind met.bind="metdata"  tt.bind="test"></test-bind> -->
        </div>
      </div>
    </div>

    <div class="row ${ !(dataLoaded) ? 'disabled hidden' : '' }">
      <div class="col-md-12 col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading" data-target="#panel-idf" data-toggle="collapse">
            <h4 class="panel-title">
              <a style="text-decoration:none;">Climate Averages</a>
            </h4>
          </div>
          <div id="panel-idf" class="panel-collapse collapse">
            <div class="panel-body">
              <!-- Climate averages	January	February	March	April	May	June	July	August	September	October	November	December	Totals
              Average monthly rainfall (mm)	269	297	192	66	32	21	15	16	10	23	58	127	1126
              Decile 1 monthly rainfall (mm)	41	33	13	1	2	2	0	0	0	0	3	25	119
              Decile 9 monthly rainfall (mm)	271	334	227	80	71	57	60	45	32	46	120	187	1529
              Mean daily evaporation (mm) (optional)	6.2	5.7	5.2	4.4	3.5	2.9	3.2	4.1	5.3	6.5	6.9	6.9	61
              Mean monthly evap. (mm) (optional)	192	160	161	132	109	87	99	127	159	202	207	214	1848
              Mean maximum temperature (oC) (optional)	33.5	32.8	32.0	30.3	27.6	25.2	25.0	26.9	29.7	32.2	33.5	34.1	30.2
              Mean minimum termperature (oC) (optional)	22.0	21.9	20.1	17.0	13.8	10.5	9.1	10.6	13.7	17.2	20.0	21.3	16.4 -->
              <table class="display-table">
                <tr>
                  <th>Climate averages</th>
                  <th>January</th>
                  <th>February</th>
                  <th>March</th>
                  <th>April</th>
                  <th>May</th>
                  <th>June</th>
                  <th>July</th>
                  <th>August</th>
                  <th>September</th>
                  <th>October</th>
                  <th>November</th>
                  <th>December</th>
                  <th>Totals</th>
                </tr>
                <tr repeat.for="metVar of metdata">
                  <th>${metVar.title}</th>
                  <td repeat.for="value of metVar.data">${formatValue(value,2)}</td>
                  <td>${formatValue(metVar.summary, 0)}</td>
                </tr>

              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row ${ !(dataLoaded) ? 'disabled hidden' : '' }">
      <div class=" col-md-12 col-sm-12 ">
        <div class="panel panel-default ">
          <div class="panel-heading " data-target="#panel-met " data-toggle="collapse">
            <h4 class="panel-title ">
              <a style="text-decoration:none; ">Rainfall Intensity, Frequency, Duration (IFD) - Probabilty of greater than 50mm/hr</a>
            </h4>
          </div>
          <div id="panel-met" class="panel-collapse collapse ">
            <div class="panel-body ">
              <table class="display-table">
                <tr repeat.for="var of IFDData " class="${!($last) ?'fixed-value':''}">
                  <th>${var.title}</th>
                  <td repeat.for="value of var.data ">${formatValue(value,2)}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr/>
    <!-- Links -->
  </div>
</template>
