<template>
    <require from="../number-format"></require>
    <style>
        .symbol {}
        
        .subscript {
            font-style: italic;
            font-size: 8pt;
        }
        
        .unit {
            font-style: italic;
            font-size: 8pt;
            color: gray
        }
        
        .value {
            /*height: 25px;*/
        }
        
        .var-value {
            font-style: italic;
            background: rgb(240, 240, 240);
            /*position: absolute;*/
            /*bottom: 0;*/
            /*padding-left:15px*/
        }
        
        .par-row {
            vertical-align: bottom;
            margin-bottom: 5px;
            height: 35px;
            /*border: 1px black solid*/
        }
        
        .bold {
            font-weight: bold;
        }
        
        .big-gap {
            margin-top: 30px;
        }
    </style>
    <div class="col-sm-12 col-md-6 ">
        <!--inputs-->
        <div id="accordion_inputs" class="panel-group">
            <div class="panel panel-default" repeat.for="group of visInputs">
                <div class="panel-heading" data-target="#collapse_${$index}" data-toggle="collapse" data-parent="#accordion_inputs">
                    <h4 class="panel-title">
                        <a style="text-decoration:none;">${group.label}</a>
                    </h4>
                </div>
                <div id="collapse_${$index}" class="panel-collapse collapse ${$first ? 'in' : ''}">
                    <div class="panel-body">
                        <div repeat.for="var of group.vars" class="row par-row">
                            <div class="col-xs-6" style="height:100%">
                                <table>
                                    <tr>
                                        <td>
                                            <span class="symbol">${var.label}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="unit">${var.units}</span>
                                        </td>
                                    </tr>

                                </table>
                            </div>
                            <div if.bind="var.possibilities !== undefined">
                                <div class="col-xs-5" style="height:100%; vertical-align:middle">
                                    <select value.bind="var.value" class="form-control">
                            <option model.bind="possibility" repeat.for="possibility of var.possibilities">${possibility}</option>
                        </select>
                                </div>
                            </div>
                            <div if.bind="var.possibilities === undefined">
                                <div class="col-xs-5" style="height:100%; vertical-align:middle">
                                    <input id="val" type="text" value.bind="var.value & debounce:800" class="form-control pull-left input value"></input>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Results-->
    <div class="col-sm-12 col-md-6">
        <div id="accordion_results" class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading" data-target="" data-toggle="" data-parent="#accordion_inputs">
                    <h4 class="panel-title">
                        <a style="text-decoration:none;">Results</a>
                    </h4>
                </div>
                <div id="" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div repeat.for="var of results.vars" class="row par-row ${$last ? 'bold' : ''} ${$index == results.vars.length - 3?'big-gap':'' }">
                            <div if.bind="$index < 2">
                                <div class="col-xs-6" style="height:100%">
                                    <table>
                                        <tr>
                                            <td>
                                                <span class="symbol">${var.label}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="unit">${var.units}</span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                                <div if.bind="$index == 0" class="col-xs-5" style="height:100%; vertical-align:middle">
                                    <input id="val" readonly type="text" value.bind="var.value | numberFormat:'0.00'" class="form-control pull-left input value"
                                        style="text-align:right"></input>
                                </div>
                                <div if.bind="$index != 0" class="col-xs-5" style="height:100%; vertical-align:middle">
                                    <input id="val" readonly type="text" value.bind="var.value | numberFormat:'0'" class="form-control pull-left input value"
                                        style="text-align:right"></input>
                                </div>
                            </div>
                            <div if.bind="$index > 2">
                                <div class="col-xs-6" style="height:100%">
                                    <div>
                                        <span class="symbol">${var.label}</span>
                                    </div>
                                </div>
                                <div class="col-xs-5" style="height:100%; vertical-align:middle">
                                    <div id="val" readonly value.bind="var.value" class="form-control pull-left input value"><span class="pull-left">$</span>
                                        <span class="pull-right">${formatCurrency(var.value)}</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<h3> Results</h3>-->
    <!--<div class="row" repeat.for="var of results.vars">
            <div if.bind="$index < 2">
                <div class="row par-row" style="padding-left:50px">
                    <div class="col-xs-5" style="height:100%">
                        <div style="position:absolute;top:0;">
                            <span class="symbol">${var.label}</span>
                        </div>
                        <div style="position:absolute;bottom:0;">
                            <span class="unit">${var.units}</span>
                        </div>
                    </div>
                    <div class="col-xs-4" style="height:100%; vertical-align:middle">
                        <input id="val" readonly type="text" value.bind="var.value | numberFormat:'0.00'" class="form-control pull-left input value"></input>
                    </div>
                </div>
            </div>
            <div if.bind="$index > 2">
                <div class="row par-row ${$last ? 'bold' : ''} ${$index == results.vars.length - 3?'big-gap':'' }" style="padding-left:50px">
                    <div class="col-xs-5" style="height:100%">
                        <div>
                            <span class="symbol">${var.label}</span>
                        </div>
                    </div>
                    <div class="col-xs-4" style="height:100%; vertical-align:middle">
                        <input id="val" readonly type="text" value.bind="var.value | numberFormat:'$0.00'" class="form-control pull-left input value"></input>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
</template>