<template>
  <require from="nav-bar.html"></require>
  <require from="bootstrap/css/bootstrap.css"></require>

  <!--<nav-bar router.bind="router"></nav-bar>-->

  <div class="page-host" style="width:100%" >
    <router-view ></router-view>
  </div>
</template>
<!-- <template bindable="firstName, lastName">
  Hello, ${firstName} ${lastName}!
</template> -->