<template>
	<style>
		/*.row {
			border-color: black;
			border-width: 1px;
			border-style: solid;
		}
		
		* {
			padding: 0!important;
			margin: 0!important
		}*/
		
		td {
			padding: 5px;
			border: 1px solid black;
		}
        th {
			padding: 5px;
			border: 1px solid black;
            text-align:center
		}
	</style>
	<table style="width:80%; margin: 0 auto; border:1px solid black; margin-top:20px">
		<tr style="height:50px; background:lightgray">
			<th>#</th>
			<th>Activity / Description</th>
			<th>Unit</th>
			<th>Rate</th>
			<th>Information and Instructions</th>
			<th>Justification and Assumptions for Rates</th>
		</tr>
		<template repeat.for="category of values.categories">
			<tr style="background:lightcoral">
				<td style="text-align:center" colspan="1">${category.id}</td>
				<td colspan="5">${category.name}</td>
			</tr>
			<tr repeat.for="item of category.items">
				<td style="text-align:center">${item.id}</td>
				<td>${item.description}</td>
				<td style="text-align:center">${item.unit}</td>
				<td><span class="pull-left">$</span><span class="pull-right">${item.rate}</td>
				<td>${item.information}</td>
				<td>${item.justification}</td>
			</tr>
		</template>
	</table>
	<!--<div style= "margin: 0 auto; width: 90%;">
		<div class="row">
			<div class="col-xs-6">
				<div class="col-xs-2" style="text-align:center">
					#
				</div>
				<div class="col-xs-9" style="text-align:center">
					Activity / Description
				</div>
				<div class="col-xs-1" style="text-align:center">
					Unit
				</div>
			</div>
			<div class="col-xs-6">
				<div class="col-xs-2" style="text-align:center">
					Rate
				</div>
				<div class="col-xs-5" style="text-align:center">
					Information and Instructions
				</div>
				<div class="col-xs-5" style="text-align:center">
					Justification and Assumptions for Rates
				</div>
			</div>
		</div>
		<div repeat.for="category of values.categories">
			<div class="row" style="background:red; font-style:bold; color:black">
				<div class="col-xs-1" style="text-align:center">
					${category.id}
				</div>
				<div class="col-xs-11">
					${category.name}
				</div>
			</div>
			<div repeat.for="item of category.items" class="row">
				<div class="col-xs-6">
					<div class="col-xs-2" style="text-align:center">
						${item.id}
					</div>
					<div class="col-xs-9">
						${item.description}
					</div>
					<div class="col-xs-1" style="text-align:center">
						${item.unit}
					</div>
				</div>
				<div class="col-xs-6">
					<div class="col-xs-2" style="text-align:right">
						${item.rate}
					</div>
					<div class="col-xs-5">
						${item.information}
					</div>
					<div class="col-xs-5">
						${item.justification}
					</div>
				</div>
			</div>
		</div>
	</div>-->
</template>