<template>
  <require from="../number-format"></require>
  <style>
    .symbol {}

    .subscript {
      font-style: italic;
      font-size: 8pt;
    }

    .unit {
      font-style: italic;
      font-size: 8pt;
      color: gray
    }

    .value {
      /*height: 25px;*/
    }

    .var-value {
      font-style: italic;
      /*background: rgb(240, 240, 240);*/
      /*position: absolute;*/
      /*bottom: 0;*/
      /*padding-left:15px*/
    }

    .par-row {
      vertical-align: bottom;
      margin-bottom: 5px;
      height: 35px;
      /*border: 1px black solid*/
    }

    .red {
      border-color: "red";
      background: rgba(180, 0, 0, 0.7) !important;
      color: white;
    }

    .yellow {
      border-color: "yellow";
      background: rgba(255, 215, 0, 0.7) !important;
    }

    .green {
      border-color: "green";
      background: rgba(0, 128, 0, 0.7) !important;
      color: white;
    }

    .section-header {
      padding-top: 10px;
      padding-bottom: 10px;
      font-style: italic
    }

    .column-header {
      color: rgb(51, 51, 51);
      font-size: 16px;
      font-weight: 500;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-align: center;
      padding-bottom: 10px
    }

    .value-cell {
      margin: 5px;
    }

  </style>
  <div class="col-sm-4 col-xs-12">
    <!--Assumptions-->
    <div id="accordion_${$index}" class="panel-group" repeat.for="group of assumptions.values">
      <div class="panel panel-default">
        <div class="panel-heading" data-target="" data-toggle="" data-parent="#accordion2">
          <h4 class="panel-title">
            <a style="text-decoration:none;">${group.category}</a>
          </h4>
        </div>
        <div id="collapse_${$index}" class="panel-collapse collapse in">
          <div class="panel-body" style="margin:5px">
            <div repeat.for="var of group.vars" class="row par-row">
              <div if.bind="var.value.length !== undefined">
                <div class="row" repeat.for="val of var.value">
                  <div class="col-xs-9" style="height:100%;">
                    <table>
                      <tr>
                        <td>
                          <span class="symbol">${var.description}${$index + 1}</span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="unit">(${var.units})</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div class="col-xs-3" style="height:100%; vertical-align:middle">
                    <input id="val" type="text" value.bind="var.value[$index] & debounce:800" readOnly.bind="!var.input" class="form-control pull-left input ${var.input == false ? 'var-value' : 'value'} "></input>
                  </div>
                </div>
              </div>
              <div class="row" if.bind="var.value.length == undefined">
                <div class="col-xs-9" style="height:100%">
                  <table>
                    <tr>
                      <td>
                        <span class="symbol">${var.description}</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span class="unit">(${var.units})</span>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-xs-3" style="height:100%; vertical-align:middle">
                  <input id="val" type="text" value.bind="var.value & debounce:800" readOnly.bind="!var.input" class="form-control pull-left input ${var.input == false ? 'var-value' : 'value'} "></input>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--<h4>Other Nutrient Requirement (kg/ha)</h4>-->
  <div class="col-sm-8 col-xs-12">
    <table cellspacing="100">
      <thead style="  border-left:1px solid #DDDDDD; border-right:1px solid #DDDDDD">
        <tr style="background:#F5F5F5">
          <th class="column-header" style="border-top:1px solid #DDDDDD;padding-top: 40px;"></th>
          <th class="column-header" colspan="3" style="font-weight: bold;border-top:1px solid #DDDDDD;">Soil Test</th>
          <td style="width:50px;background:white;border-left:1px solid #DDDDDD;;border-right:1px solid #DDDDDD;">&emsp;</td>
          <th class="column-header" colspan="3" style="font-weight: bold;border-top:1px solid #DDDDDD;">Requirements</th>
        </tr>
        <tr style="background:#F5F5F5">
          <th class="column-header" style="border-bottom:1px solid #DDDDDD "></th>
          <th class="column-header">Layer 1</th>
          <th class="column-header">Layer 2</th>
          <th class="column-header">Layer 3</th>
          <td style="width:50px;background:white;border-left:1px solid #DDDDDD;;border-right:1px solid #DDDDDD;">&emsp;</td>
          <th class="column-header" style="border-bottom:1px solid #DDDDDD">Layer 1</th>
          <th class="column-header">Layer 2</th>
          <th class="column-header">Layer 3</th>
          <!-- <th></th>
          <th class="column-header" style="text-align:center">Elemental nutrient requirements</th> -->
        </tr>
      </thead>
      <!--<tr repeat.for="group of soilDescriptor.values"><th>${group.name}</th></tr>-->
      <template repeat.for="group of soilSamples[0].values">
        <tr style="border-left:#DDDDDD 1px solid; border-right: #DDDDDD 1px solid;">
          <th class="section-header" colspan="4" style="background:#F5F5F5;padding-left: 10px;">
            ${group.name}
          </th>
          <td style="width:50px;background:white;border-left:1px solid #DDDDDD;;border-right:1px solid #DDDDDD;">&emsp;</td>
          <th class="section-header" colspan="3" style="background:#F5F5F5">
          </th>
        </tr>
        <tr repeat.for="member of group.members" style="background:#F5F5F5;border-left: #DDDDDD 1px solid;border-right: #DDDDDD 1px solid;">
          <td style="padding-left: 20px;">
            <table>
              <tr>
                <td>
                  <span class="symbol">${member.name}</span>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="unit">(${member.units})</span>
                </td>
              </tr>
            </table>
          </td>
          <!--Soil Sample-->
          <template repeat.for="sample of soilSamples">
            <td if.bind="$parent.$index == 0 && $parent.$parent.$index == 0 " style="padding:10px; min-width:120px">
              <select value.bind="sample.currentGrade" class="form-control">
                <option model.bind="grade" repeat.for="grade of soilTextures.values">${grade.grade}</option>
              </select>
            </td>
            <template if.bind="sample.values[$parent.$parent.$index].members[$parent.$index].sigFigs === undefined">
              <td if.bind="($parent.$index > 0 && $parent.$parent.$index == 0) || $parent.$parent.$index > 0 " style="padding:10px">
                <input type="text" value.bind="sample.values[$parent.$parent.$index].members[$parent.$index].value & debounce:800" readOnly.bind="sample.values[$parent.$parent.$index].members[$parent.$index].input == false"
                  class="form-control pull-left input ${sample.values[$parent.$parent.$index].members[$parent.$index].colourClass != ''? sample.values[$parent.$parent.$index].members[$parent.$index].colourClass : '' } ${sample.values[$parent.$parent.$index].members[$parent.$index].input ==false ? 'var-value':''}"></input>
              </td>
            </template>
            <template if.bind="sample.values[$parent.$parent.$index].members[$parent.$index].sigFigs !== undefined">
              <td if.bind="($parent.$index > 0 && $parent.$parent.$index == 0) || $parent.$parent.$index > 0 " style="padding:10px">
                <div type="text" readOnly.bind="sample.values[$parent.$parent.$index].members[$parent.$index].input == false" class="form-control pull-left input ${sample.values[$parent.$parent.$index].members[$parent.$index].colourClass != ''? sample.values[$parent.$parent.$index].members[$parent.$index].colourClass : '' } var-value">${formatValue(sample.values[$parent.$parent.$index].members[$parent.$index].value, sample.values[$parent.$parent.$index].members[$parent.$index].sigFigs)}</div>
              </td>
            </template>
          </template>
          <td style="width:50px;background:white;border-left:1px solid #DDDDDD;border-right:1px solid #DDDDDD;">&emsp;</td>
          <!-- Requirements -->
          <template repeat.for="sample of soilSamples">
            <!-- <td if.bind="$parent.$index == 0 && $parent.$parent.$index == 0 " style="padding:10px;"> -->
            <!-- </td> -->
            <!-- <template if.bind="sample.required[$parent.$parent.$index].members[$parent.$index].sigFigs === undefined">
              <td if.bind="($parent.$index > 0 && $parent.$parent.$index == 0) || $parent.$parent.$index > 0 " style="padding:10px;">
                <input type="text" readOnly class="form-control pull-left input var-value"> ${sample.values[$parent.$parent.$index].members[$parent.$index].required}</input>
              </td>
            </template> -->
            <template if.bind="sample.values[$parent.$parent.$index].members[$parent.$index].showRequirements !== undefined">
              <td if.bind="($parent.$index > 0 && $parent.$parent.$index == 0) || $parent.$parent.$index > 0 " style="padding:10px;min-width:120px">
                <div type="text" readOnly class="form-control pull-left input var-value">${formatValue(sample.values[$parent.$parent.$index].members[$parent.$index].required, sample.values[$parent.$parent.$index].members[$parent.$index].showRequirements)}</div>
              </td>
            </template>
            <template if.bind="sample.values[$parent.$parent.$index].members[$parent.$index].showRequirements === undefined">
              <td></td>
            </template>
          </template>
          <!--Separator-->
          <!-- <td width="10"></td> -->
          <!--Requirements-->
          <!-- <td if.bind="soilSamples[0].reqs[$parent.$index][$index].value != 'na'" style="padding:10px">
            <div type="text" readOnly.bind="soilSamples[0].reqs[$parent.$index][$index].input == false" class="form-control pull-left input var-value">${formatValue(soilSamples[0].reqs[$parent.$index][$index].value, soilSamples[0].reqs[$parent.$index][$index].sigFigs
              )}
            </div>
          </td> -->
        </tr>
      </template>
    </table>
  </div>
  <!-- <div class="well col-sm-4 col-xs-12">
        <table cellspacing="100">
          <thead style="border-bottom:1px solid rgb(221,221,221)">
            <tr>
              <th class="column-header">Soil Test</th>
              <th class="column-header">Layer 1</th>
              <th class="column-header">Layer 2</th>
              <th class="column-header">Layer 3</th>
             </tr>
          </thead>
          <template repeat.for="group of soilSamples[0].values">
            <tr>
              <th class="section-header" colspan="4">
              </th>
            </tr>
            <tr repeat.for="member of group.members">
              <template repeat.for="sample of soilSamples">
                <td if.bind="$parent.$index == 0 && $parent.$parent.$index == 0 " style="padding:10px">
                  
                </td>
                <template if.bind="sample.values[$parent.$parent.$index].members[$parent.$index].sigFigs === undefined">
                  <td if.bind="($parent.$index > 0 && $parent.$parent.$index == 0) || $parent.$parent.$index > 0 " style="padding:10px">
                    <input type="text" value.bind="sample.values[$parent.$parent.$index].members[$parent.$index].required" readOnly
                      class="form-control pull-left input var-value}"></input>
                  </td>
                </template>
                <template if.bind="sample.values[$parent.$parent.$index].members[$parent.$index].sigFigs !== undefined">
                  <td if.bind="($parent.$index > 0 && $parent.$parent.$index == 0) || $parent.$parent.$index > 0 " style="padding:10px">
                    <div type="text" readOnly class="form-control pull-left input var-value">${formatValue(sample.values[$parent.$parent.$index].members[$parent.$index].required, sample.values[$parent.$parent.$index].members[$parent.$index].sigFigs)}</div>
                  </td>
                </template>
              </template>
        
              <td width="10"></td>
             
            </tr>
          </template>
        </table>
      </div> -->
</template>
